.menu__page{
  position: relative;
  background-image: url("../img/menu/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title--menu{
  color: #fff;
  padding-left: 0;
 padding-top: 2rem;
}
.accordeon__list__title{
  font-family: 'Gagalin-Regular';
  position: relative;
  
  line-height: 1.714;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  & span{
    white-space: nowrap;
    position: absolute;  
    font-size: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
  }

}
.accordeon__width{
    width: 4rem;
  }
.menu__page__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
}
.menu__list__content {
  font-size: 14px;
  max-width: 0px;
  background: rgba(#2d3032, .9);
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}
.menu__list__item {
  display: flex;
  }
  .accordeon__item--active {
  & .accordeon__list__title{
      color: #f9b43b;
    }

  & .menu-list__content {
    width: rem(540);
    padding: 62px 35px;
    visibility: visible;
    opacity: 1;
  }
  }
   