.dark__burger__page{
  background-image: url(../img//burgers/Rectangle.png);
  background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.container--dark__burger__page{
  display: flex;
  flex-direction: row;
}
.consist__background{
  background: #f08c33;
  border-radius:5px;
  width: 90px; 
  height: 90px;
  &:hover{
    background: #e35028;
    cursor: pointer;
  }
}
.title--consist{
  color:white;
  font-size: 14px;
}
.consist__content{
  padding: 14px 23px;
  
}
.dark__burger{
  margin-left: -35px;
}
.title--white{
  color:white;
}
.dark__burger__order{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title--cost{
  color:#e35028;
  margin-right: 30px;
  & span{
    font-size: 30px;
  }
}

.dropdown__menu__image{
  height: 20px;
  width:20px ;
}
.wrapper__button{
}
// .order__button--burger__page{
//   position: absolute;
  

// }