.dark__burger__page{
  background: linear-gradient(to top, #f9b43b 20%, #ec8f38 50%, #f9b43b 80%);
}
.container--burger__page{
  display: flex;
  flex-direction: row;
  // align-items: center;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.consist{
  position: absolute;
  background: #f08c33;
  border-radius:5px;
  width: 5.6rem; 
  height: 5.6rem;
  z-index: 100;
  text-align: center;
  &:hover{
    background: #e35028;
    cursor: pointer;
  }
}

.title--consist{
  color:white;
  font-size: 14px;
  text-align: center;
}

.burder__slider{
    display: flex;
 
}
.item__burger{
  display: flex;
  align-items: center;
  justify-content: space-around;

  // Добавить ширину
}

.burger{
  display: flex;
    
@include tablets{
  flex-direction: column;
}
@include phones{
  flex-direction: column;
  width: 30rem;
}
}
.burger__left{
  width: 50%;
  @include tablets{
    width: 90%;
    display: -webkit-box;
    // display: flex;
  }
  @include phones{
    width: 90%;
    display: -webkit-box;
  }
}

.burger__right{
  width: 50%;
  @include tablets{
    width: 100%;
    text-align: center;
  }
  @include phones{
    width: 100%;
    text-align: center;
  }
}

.burger__image{
  margin-top: 6rem;
}
.burgers__img{
  position: relative;
  max-width: 100%;
}

.burger__title{
  padding-bottom: 2rem;
}

.title--white{
  color:white;
}
.burger__order{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title--cost{
  color:#e35028;
  margin-right: 30px;
  & span{
    font-size: 30px;
  }

  @include tablets{
 white-space: nowrap;
  }
  @include phones{
    white-space: nowrap;
  }
}
.consist:hover .consist__dropdown__menu{
    opacity: 1;
    left: 0;
}
.consist__dropdown__menu{
  position: absolute;
  // display: flex;
  // background: #fff;
  border: 1px;
  border-radius: 5px;
  width: 17.4rem;
  margin-left: 5.6rem;
  margin-top: -5rem;
  // top:100%;
  left: -100000px;
  // display: none;
  opacity: 0;
  transition: opacity .3s;
  background: rgba(255, 255, 255, .8);
  }


.dropdown__list{
  list-style-type: none;
  width: 100%;
 
}

.dropdown__line{
  display: flex;

}
.dropdown__text{
  margin-top: 1.2rem;
  padding-right: 1rem;
  width: 100%;


  & .dropdown__name{
    font-family: 'Ubuntu-Medium';
  }
  & .dropdown__weight{
    float: right;
  font-family: 'Ubuntu-Light';

  }
}
.dropdown__icons{
  max-height: 45px;
  max-width: 45px ;
  margin-top: .3rem;

}

.burger__weight{
  position: absolute;

}


.weight__icons{
  width: 65px;
  height: 65px;
  // position: absolute;
}
.weight__text{
  font-size: 16px;
  font-family: 'Gagalin-Regular';
  fill: #fad39d;
  color: #fad39d;
  text-align: center;
}
// .order__button--burger__page{
//   position: absolute;
  

// }