*{
	box-sizing: border-box;
}


html{
  font-size: 16px;

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: normal;
}
// html{
//   font-size: 16px;
//   @include tablets {
//     font-size: 12px;
//   }

//   @include phones {
//     font-size: 13px;
//   }
// }

// html,body{
//   height: 100%;
// }

ul{
	margin: 0;
	padding: 0;
}
/* ul li{

	list-style-type: none;
} */
a{
	text-decoration: none;
}
.section{
  height: 100%;
  min-height: 650px;
}

footer{
  width: 100%;
}
.wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  overflow:hidden;

}
.maincontent{
  height: 100%;
  transform: translateY(0);
  transition: transform 1s;
}
// .header{
//   margin-top: 6rem;
// }

.container
{
  @include tablets {
width: 95%;
  }

  @include phones {
    width: 95%;
      }
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  // position: relative;
  /* align-items: center; */
  /* border: 3px solid red; */
}

.hf__container{
  display: flex; 
 justify-content: space-between;
 flex-direction: row;
 padding-top: 1rem;
}

