.wrapper__reviews__page{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.paragraph--white{
  color:#fff;
  font-weight:normal;
}

.reviews__title{
  font-size: 14px;
  color:#fff; 
}
.reviews__hover__block{
  padding: 50px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);
  opacity: 0;
  transform: scale(.8) 
}
.reviews__photo__block{
width: 25%;
height: 50%;
background: center center / cover no-repeat;
position: relative;
&:hover{
  .reviews__hover__block{
    opacity: 1;
    transform: scale(1);
  }
 }
}

  .order__button--reviews{
    background-color: #2f3234;
  }



// $number: (one,two,three,four,five,six,seven,eight);
// @each $photo in $number {
//   .reviews__photo__block--#{$photo} {
//     background: url("/reviews/#{$photo}.png") center center / cover no-repeat;
//     position: relative;
//   }
//   }
  
 


.reviews__button{
  display: none;
}