.wrapper__reviews__page{
  display: flex;
  flex-wrap: wrap;
  height: 658px;
  // width: 100%;
}
.paragraph--white{
  color:#fff;
  font-size: 14px;
  font-weight:normal;

  
@include tablets{
  text-align: center;
}
@include phones{

}
}

.reviews__text__name
{
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  color:#fff; 
  @include tablets{
    text-align: center;
  }
  @include phones{
  text-align: center;
  font-size: 20px;
  margin-bottom: 1rem;
  }
}
.reviews__hover__block{
  padding: 50px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);
  // opacity: 0;
  display: none;
  transform: scale(.8);
  
    
@include tablets{
  padding: .2rem 0;
}
}
.paragraph--invisible{
  @include phones{
    display: none;
  }
}
.reviews__photo__block{
width: 25%;
height: 50%;
background: center center / cover no-repeat;
position: relative;

@include tablets{
  width: 50%;
  height: 25%;
}
@include phones{
  width: 50%;
  height: 25%;
}
&:hover{
  .reviews__hover__block{
   display: block;
    transform: scale(1);
  }
 }
}
  .order__button--reviews{
    background-color: #2f3234;
  }

  .reviews__btn{
    @include tablets{
      text-align: center;
    }
    @include phones{
    text-align: center;
    }

  }


// $number: (one,two,three,four,five,six,seven,eight);
// @each $photo in $number {
//   .reviews__photo__block--#{$photo} {
//     background: url("/reviews/#{$photo}.png") center center / cover no-repeat;
//     position: relative;
//   }
//   }
  
