@font-face {
  font-family: 'Gagalin-Regular';
  src: url('Gagalin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lifehack-Medium';
  src: url('Lifehack-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('Ubuntu-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf')  format('truetype'), url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
